

<div class="calender">
  <div class="header">
    <%= year %> - <%= Date::MONTHNAMES[month] %>
  </div>
  <div class="content">
  <% @weekdays.each do |day| %>
    <div class="day weekday <%= day %>"><%= day.slice(0, 3) %></div>
  <% end %>

  <% counter = 1 %>
  <% dayCounter = 1 %>

  <% while counter <= 42 %>
    <% while dayCounter <= Time.days_in_month(month, year) %>
    <% currentDay = Time.new(year, month, dayCounter) %>
      <% if dayCounter == 1 && dayCounter <= 31 %>
        <% @weekdays.each do |day| %>
          <% if currentDay.strftime("%A") == day  %>
            <div class="day">
              <%= dayCounter %>
            </div>
            <% break %>
          <% else %>
            <div class="day"></div>
            <% counter += 1 %>
            <% next %>
          <% end %>
        <% end %>
      <% else %>
        <div class="day">
          <%= dayCounter %>
        </div>
      <% end %>
      <% dayCounter += 1 %>
      <% counter += 1 %>
    <% end %>
    <% if counter == 36 && dayCounter > Time.days_in_month(month, year) %>
      <% break %>
    <% else %>
      <div class="day"></div>
      <% counter += 1 %>
    <% end %>
  <% end %>
</div>
</div>
