<div class="header-container">
  <div class="heading">Batch <%= @batch.name %></div>
  <div class="start-date">Start date: <%= @batch.start_date.strftime("%e %B, %Y") %></div>
  <div class="end-date">End date: <%= @batch.end_date.strftime("%e %B, %Y") %></div>
</div>

<div class="overall-score">


  <% @greenScores.times do %>
  <div class="green scores"></div>
  <% end %> </br>
  <% @orangeScores.times do %>
  <div class="orange scores"></div>
  <% end %></br>
  <% @redScores.times do %>
  <div class="red scores"></div>
  <% end %></br>
  <% @noScores.times do %>
  <div class="no-score scores"></div>
  <% end %></br>
</div>

<div class="student-container">
  <% @students.each do |student| %>
  <div class="student-card">
    <h3 class="student-name"><%= link_to student.name, [student.batch, student] %> </h2>
    <img class="student-image" src="<%= student.photo %>">
    <div class="score-batch <%= student.evaluations[-1] ? student.evaluations[-1].score : "no-score" %>"></div>
  </div>
  <% end %>
</div>

<div><%= link_to "New student", new_batch_student_path(@batch) %></div></br>

<%= link_to "Get random student", batch_student_path(@batch, @randomStudent)%>
