<!DOCTYPE html>
<html>
  <head>
    <title>EvaluationTool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:200" rel="stylesheet">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div><%= link_to "home", root_path %> </div>

    <%= yield %>
  </body>
</html>
